@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
h1{
    color: #FFFFFF;
}

h7{
    color: white;
    }

.right{
    width: 290x;
    float: right;
}

b{
color: #FFFFFF;
}


legend{
color: #FFFFFF;
}


p{
  color: #FFFFFF
}

header{

    height: 90px;
    width: 400;

}

body {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  min-width:1200px;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.rightsidebar{
        height: 440px;
        width: 200px;
        float: right;
        /*border-left: outset;
        border-color: #1b2838;*/
        text-align: center;
        /*background-color:  #1b2838;*/
}

.leftsidebar{
        height: 440px;
        width: 359px;
        float: left;

        /*border-left: outset;
        border-color: #1b2838;*/
        text-align: center;
        /*background-color:  #1b2838;*/
}

.mid{
       height: 900px;
        width: 359px;
        margin: auto;
        border-left: outset;
        border-left: outset;
        border-color: #1b2838;
        text-align: center;
        background-color:  #1b2838;

}

.content {
  max-width: 500px;
  margin: auto;
}

.custom-element {
  color: color-yiq(theme-color("dark")); // returns `color: #fff`
}


@media (prefers-color-scheme: dark){
    body {
    background-color: #333;
    color: #fff;
    }
    button {
        background-color: green;
    }
}




.avatar2 {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.gg{
   width: 300px;
   margin: auto;
   text-align: center;
   }




